h2{
    color: rgb(5, 110, 201);
}

p{
    color: rgb(69, 218, 168);
    text-align: center;
    background-color: rgb(97, 94, 255);
}
.title{
    color: rgb(191, 122, 255);
    text-align: right;
    font-size: 70px;
}

body{
    background-image: url("1.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
}

#techer{
    font-size: 99px;
    color: rgb(230, 66, 66);
    text-align: center;
    background-color: bisque;
    padding: 50px;
}
p.error{
    color: rgb(240, 94, 208);
    font-size: 50px;
    background-color: rgb(171, 169, 255);
    font-weight: bold;
}
p.success{
    color: rgb(148, 64, 226);
    font-size: 50px;
    background-color: rgb(255, 175, 251);
    font-weight: bolder;
}

div{
    width: 200px;
    height: 100px;
    float: left;
}

#box{
    background-color: rgb(193, 126, 255);
}

#box2{
    background-color: rgb(145, 126, 255);
}

#box3{
    background-color: rgb(126, 167, 255);
}
#box4{
    background-color: rgb(126, 246, 255);
}
#box5{
    background-color: rgb(126, 255, 175);
}

.nav{
    background-color: rgb(255, 255, 117);
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
    clear: left;
}

.nav li{
    display: inline-block;
    font-size: 20px;
    padding: 30px;
}